{% extends "base.html" %}

{% set active_page = "Crashes" %}

{% block content %}

<div class="row">

    <div class="col-xs-offset-2 col-md-8">
        <h2>Crash Search</h2>
        <form class="form-horizontal" method=post enctype=multipart/form-data>

            <div class="form-group ">
                <label class="control-label col-xs-3" for="search">Search Request:</label>
                <div class="col-xs-9">
                    <input type="text" name="search" class="form-control" id="search"
                           placeholder="MongoDB Search Request" required>
                        {% if error %}
                            <p style="color:red">Please enter a valid search request. {{ error }}</p>
                        {% endif %}
                    <br />
                    <table>
                        <tr>
                            <td style="padding: 5px;">
                                <button type="submit" value=submit class="btn btn-default" id="input_submit">
                                     <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <p style="color:grey">Simple example:<br />{"crash_signal": 139}</p>
                    <p style="color:grey">Searching for dates example:<br />{ "$expr": {"$gte": ["$date", {"$dateFromString": {"dateString":"2018-11-08T12:10:40"}}]}}</p>
                </div>
            </div>

            <h3>Structure of a Crash:</h3>
            <div class="row">
                    <pre>{{ database_structure }}</pre>
            </div>

        </form>
    </div>
</div>


{% endblock %}
