{% extends "base.html" %}

{% block content %}
<h2>Information for crash {{ crash.id }}</h2>
<h3>General</h3>
<a href="/crashes/download/{{ crash.id }}">Download sample</a>
<a href="/crashes/show/next/{{ crash.id }}">Next crash</a>
<table border="0">
  <tr>
    <th align="left">Job</th>
    <td>{{ crash.job_id }}</td>
  </tr>
  <tr>
    <th align="left">Date</th>
    <td>{{ crash.date }}</td>
  </tr>
  <tr>
    <th align="left">Signal</th>
    <td>{{ crash.crash_signal }}</td>
  </tr>
  <tr>
    <th align="left">Exploitable?</th>
    <td>{{ crash.exploitability }}</td>
  </tr>
  <tr>
    <th align="left">Crash hash</th>
    <td>{{ crash.crash_hash }}</td>
  </tr>
</table>

<h3>Hexdump</h3>

<p id="hexdump"></p>
<script type="text/javascript">
  buffer = atob("{{ encoded_buffer }}");
  new Hexdump(buffer, {
        container: 'hexdump'
        , base: 'hexadecimal'
        , width: 16
        , ascii: true
        , byteGrouping: 1
        , html: true
        , lineNumber: true
        , style: {
            lineNumberLeft: ''
          , lineNumberRight: ':'
          , stringLeft: '|'
          , stringRight: '|'
          , hexLeft: ''
          , hexRight: ''
          , hexNull: '.g'
          , stringNull: '.'
        }
      });
</script>
{% endblock %}
