{% extends "base.html" %}

{% set active_page = "Index" %}

{% block content %}

<div class="row">
    <table border="0">
        <tr>
            <td>
                <h2>Home</h2>
                <p>Welcome to <b>Lucky CAT</b>!</p>
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <div style="max-width: 300px; margin: 0 auto;">
        <img height="auto" src="{{ url_for('static', filename='Logo_LuckyCat_Typo.png') }}" style="margin-top: 80px"
             width="100%"><br/>
    </div>
</div>

{% endblock %}
