{% extends "base.html" %}

{% set active_page = "Jobs" %}

{% block content %}
<table class="table table-responsive table-hover" style="border-spacing: 10px; width: 100%;">
<tr>
  <td>
    <h2>Jobs</h2>
  </td>
</tr>
<table class="table table-responsive table-hover table-bordered" style="border-spacing: 10px; width: 100%;" id="data">
  <tr>
    <th>Action</th>
    <th>Name</th>
    <th>Description</th>
    <th>Max. iterations</th>
    <th>Enabled</th>
    <th>Archived</th>
    <th>Fuzzer</th>
    <th>Mutation engine</th>
    <th>Verifier</th>
    <th>Arguments</th>
    <th>Start date</th>
  </tr>
  {% for job in jobs %}
    <tr>
      <td align="center">
        <a href="{{ url_for('jobs.edit_job', job_id = job.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{{ url_for('jobs.delete_job', job_id = job.id) }}"><span class="glyphicon glyphicon-trash"></span></a>
        <a href="{{ url_for('jobs.jobs_download', job_id = job.id) }}"><span class="glyphicon glyphicon-download"></span></a>
      </td>
      <td>{{ job.name }}</td>
      <td>{{ job.description }}</td>
      <td> {{ job.maximum_iteration }} </td>
      <td>
        {{ job.enabled }}
      </td>
      <td>
        {{ job.archived }}
      </td>
      <td>{{ job.fuzzer }}</td>
      <td>{{ job.mutation_engine }}</td>
      <td>{{ job.verifier }}</td>
      <td>{{ job.cmd_args }}</td>
      <td>{{ job.date.strftime('%Y-%m-%d') }}</td>
    </tr>
{% endfor %}
  </table>
</table>
{% endblock %}
