{% extends "base.html" %}

{% set active_page = "Jobs" %}

{% block content %}

<table border="0">
    <tr>
        <td>
            <h2>Add new job</h2>
            <form action="" enctype="multipart/form-data" method="POST">
                <table>
                    <tr>
                        <td><label>Name</label></td>
                        <td><input name="name" required size="50" type="text"></td>
                        <td><i>Short name of the new project.</i></td>
                    </tr>
                    <tr>
                        <td valign="top"><label>Description</label></td>
                        <td><textarea cols="50" name="description" required rows="10"></textarea></td>
                        <td valign="top"><i>Description of the project. Use this field to specify the version, operating
                            systems, CPU, etc...</i></td>
                    </tr>
                    <tr>
                        <td><label>Maximum iteration</label></td>
                        <td><input name="maximum_iteration" required type="number" value="1000000"></td>
                        <td><i>Maximum number of iterations per fuzz job. Afterwards the fuzz job is disabled.</i></td>
                    </tr>
                    <tr>
                        <td><label>Timeout</label></td>
                        <td><input name="timeout" required type="number" value="24"></td>
                        <td><i>Timeout fuzz job after X hours. Afterwards the fuzz job is disabled.</i></td>
                    </tr>
                    <tr>
                        <td><label>Fuzzer</label></td>
                        <td>
                            <select name="fuzzer" required size="{{fuzzers|length}}">
                                {% for fuzzer in fuzzers %}
                                <option value="{{fuzzer}}">{{fuzzer}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><i>The fuzzer to use for fuzzing.</i></td>
                    </tr>
                    <tr>
                        <td><label>Mutation engine</label></td>
                        <td>
                            <select name="mutation_engine" required size="{{engines|length}}">
                                {% for engine in engines %}
                                <option value="{{engine}}">{{engine}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><i>The mutation engine to use for sample generation.</i></td>
                    </tr>
                    <tr>
                        <td><label>Verifier</label></td>
                        <td>
                            <select name="verifier" required size="{{verifiers|length}}">
                                {% for verifier in verifiers %}
                                <option value="{{verifier}}">{{verifier}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><i>The fuzzer to use for fuzzing.</i></td>
                    </tr>
                    <tr>
                        <td><label>Fuzzing Target</label></td>
                        <td><input name="fuzzing_target" required type="file"></td>
                        <td><i>The executable to fuzz</i></td>
                    </tr>
                    <tr>
                        <td><label>Command line arguments</label></td>
                        <td><input name="cmd_args" size="50" type="text"></td>
                        <td><i>Command line arguments to pass to fuzzing target.</i></td>
                    </tr>
                    <tr>
                        <td><label>Samples</label></td>
                        <td><input name="samples" type="file"></td>
                        <td><i>One sample or several samples as zip file.</i></td>
                    </tr>
                    <tr>
                        <td><label>Firmware root (zip)</label></td>
                        <td><input name="firmware_root" type="file"></td>
                        <td><i>If this is a firmware fuzz job then upload the firmware as zip file.</i></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Add new project"></td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
{% endblock %}
