{% extends "base.html" %}

{% set active_page = "Results" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <select class="form-control" onchange="window.location=update_url_variables(window.location.toString(), 'job', this.value)">
                    <option selected value="1"></option>
                {% for job_name in results["job_names"] %}
                    <option>{{ job_name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3><span class="glyphicon glyphicon-stats"></span> General</h3>
            <table class="table table-responsive table-hover table-bordered" style="border-spacing: 10px; width: 100%;">
                {% if results["job_statistics"]["number_of_job_names"] %}
                    <tr>
                      <td class="active" style="text-align: left; padding:5px">jobs</td>
                      <td class="active" style="text-align: right; padding:5px">{{ results["job_statistics"]["number_of_job_names"] }}</td>
                    </tr>
                {% endif -%}
                <tr>
                    <td class="active" style="text-align: left; padding:5px">crashes</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results["job_statistics"]["number_of_crashes"] }}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">unique crashes</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results["job_statistics"]["number_of_unique_crashes"] }}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">unique exploitable crashes</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results["job_statistics"]["number_of_unique_exploitable_crashes"] }}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">iterations</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results["job_statistics"]["iteration"] }}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">execs_per_sec</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results["job_statistics"]["execs_per_sec"] }}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">runtime</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results["job_statistics"]["runtime"] }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <canvas id="different_crashes" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row row-centered">
        <div class="container">
            <canvas id="crashes_over_time" width="800" height="400"></canvas>
        </div>
        <div class="container">
            <div class="row" style="text-align:center">
                <button id="show_last_24_hours_crashes">Last 24h crashes</button>
                <button id="show_last_72_hours_crashes">Last 72h crashes</button>
                <button id="show_all_crashes">All crashes</button>
            </div>
        </div>
    </div>
    <script>
        function display_different_Crashes() {
            var data = [];
            var label = [];
            {% for crash_signal, quantity in results["diffierent_crash_signals"].items() %}
                data.push({{ quantity }});
                label.push("{{ crash_signal }}");
            {% endfor %}

            data = {
                datasets: [{
                    label: "Different Signals received",
                    data: data,
                    backgroundColor: ["#1F82C0", "#D6F1F4", "#85D4DF", "#D6F14", "#6DBFA9", "#79B4D9"]
                }],
                labels: label
            };

            var ctx = document.getElementById("different_crashes");
            var different_crashes = new Chart(ctx, {
                type: "pie",
                data: data,
                options: {
                    title: {
                        display: true,
                        text: "Different Crash Signals"
                    }
                },
            });
        }

        function display_crashes_over_time() {
            var ctx = document.getElementById("crashes_over_time");

            var timeFormat = "YYYY-MM-DD HH:mm:ss";

            var crash_time = [];
            var last_24_hours_crashes = [];
            {% for crash_time, quantity in results["crashes_over_time"]["crashes"]["last_24_hours"].items() %}
                crash_time.push("{{ crash_time }}");
                last_24_hours_crashes.push("{{ quantity }}");
            {% endfor %}

            last_72_hours_crashes = [
            {% for crash_time, quantity in results["crashes_over_time"]["crashes"]["last_72_hours"].items() %}
                {
                x: "{{ crash_time }}",
                y: "{{ quantity }}"
                },
            {% endfor %}
            ];

            all_crashes = [
            {% for crash_time, quantity in results["crashes_over_time"]["crashes"]["all_time"].items() %}
                {
                x: "{{ crash_time }}",
                y: "{{ quantity }}"
                },
            {% endfor %}
            ];



            all_unique_crashes = [
            {% for crash_time, quantity in results["crashes_over_time"]["unique_crashes"]["all_time"].items() %}
                {
                x: "{{ crash_time }}",
                y: "{{ quantity }}"
                },
            {% endfor %}
            ];

            last_72_hours_unique_crashes = [
            {% for crash_time, quantity in results["crashes_over_time"]["unique_crashes"]["last_72_hours"].items() %}
                {
                x: "{{ crash_time }}",
                y: "{{ quantity }}"
                },
            {% endfor %}
            ];

            last_24_hours_unique_crashes = [
            {% for crash_time, quantity in results["crashes_over_time"]["unique_crashes"]["last_24_hours"].items() %}
                {
                x: "{{ crash_time }}",
                y: "{{ quantity }}"
                },
            {% endfor %}
            ];


            data = {
                labels: crash_time,
                datasets: [{
                    label: "Of all time",
                    backgroundColor: "#66BFAC",
                    fill: false,
                    data: all_crashes,
                }, {
                    label: "Unique Crashes",
                    backgroundColor: "#79B4D9",
                    fill: false,
                    data: all_unique_crashes,
                }]
            };

            var config = {
                type: "line",
                data: data,
                options: {
                      title: {
                          text: "Chart.js Time Scale"
                      },
                      scales: {
                          xAxes: [{
                              type: "time",
                              time: {
                                  format: timeFormat,
                                  // round: "day"
                                  tooltipFormat: "ll HH:mm"
                              },
                              scaleLabel: {
                                  display: true,
                                  labelString: "Date"
                              }
                          }],
                          yAxes: [{
                              scaleLabel: {
                                  display: true,
                                  labelString: "Crashes"
                              }
                          }]
                      },
                  }
            };

            window.onload = function() {
                var ctx = document.getElementById("crashes_over_time").getContext("2d");
                window.myLine = new Chart(ctx, config);
            };

            document.getElementById("show_last_24_hours_crashes").addEventListener("click", function() {
                config.data.datasets = [{
                        label: "Last 24 hours",
                        backgroundColor: "#66BFAC",
                        fill: false,
                        data: last_24_hours_crashes,
                }, {
                    label: "Unique Crashes",
                    backgroundColor: "#79B4D9",
                    fill: false,
                    data: last_24_hours_unique_crashes,
                }];
                window.myLine.update();
            });
            document.getElementById("show_last_72_hours_crashes").addEventListener("click", function() {
                config.data.datasets = [{
                    label: "Last 72 hours",
                    backgroundColor: "#66BFAC",
                    fill: false,
                    data: last_72_hours_crashes,
                }, {
                    label: "Unique Crashes",
                    backgroundColor: "#79B4D9",
                    fill: false,
                    data: last_72_hours_unique_crashes,
                }];
                window.myLine.update();
            });
            document.getElementById("show_all_crashes").addEventListener("click", function() {
                config.data.datasets = [{
                    label: "Of all time",
                    backgroundColor: "#66BFAC",
                    fill: false,
                    data: all_crashes,
                }, {
                    label: "Unique Crashes",
                    backgroundColor: "#79B4D9",
                    fill: false,
                    data: all_unique_crashes,
                }];
                window.myLine.update();
            });
        }

        display_different_Crashes()
        display_crashes_over_time()
    </script>
</div>

{{ results["crashes_over_time"]["unique_crashes"]["test"] }}

{% endblock %}