{% extends "base.html" %}

{% set active_page = "Results" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <select class="form-control" onchange="window.location=update_url_variables(window.location.toString(), 'project', this.value)">
                    <option selected value="1"></option>
                {% for project_name in results["project_statistics"]["job_names"] %}
                    <option>{{ project_name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3><span class="glyphicon glyphicon-stats"></span> General</h3>
            <table class="table table-responsive table-hover table-bordered" style="border-spacing: 10px; width: 100%;">
                {% if results['project_statistics']["number_of_job_names"] %}
                    <tr>
                      <td class="active" style="text-align: left; padding:5px">projects</td>
                      <td class="active" style="text-align: right; padding:5px">{{ results['project_statistics']["number_of_job_names"] }}</td>
                    </tr>
                {% endif -%}
                <tr>
                    <td class="active" style="text-align: left; padding:5px">crashes</td>
                    <td class="active" style="text-align: right; padding:5px">?</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">unique crashes</td>
                    <td class="active" style="text-align: right; padding:5px">?</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">unique exploitable crashes</td>
                    <td class="active" style="text-align: right; padding:5px">?</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">iterations</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results['project_statistics']['iteration'] }}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">execs_per_sec</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results['project_statistics']['execs_per_sec'] }}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">runtime</td>
                    <td class="active" style="text-align: right; padding:5px">{{ results['project_statistics']['runtime'] }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <canvas id="different_crashes" width="400" height="400"></canvas>
        </div>
    </div>
    <script>
        var data = [];
        var label = [];
        {% for crash_signal, quantity in results['diffierent_crash_signals'].items() %}
            data.push({{ quantity }});
            label.push('{{ crash_signal }}');
        {% endfor %}

        data = {
            datasets: [{
                label: 'Different Signals received',
                data: data,
                backgroundColor: ["#1F82C0", "#D6F1F4", "#85D4DF", "#D6F14", "#6DBFA9", "#79B4D9"]
            }],
            labels: label
        };

        var ctx = document.getElementById("different_crashes");
        var different_crashes = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                title: {
                    display: true,
                    text: 'Different Crash Signals'
                }
            },
        });
    </script>
</div>

{{ results["test"] }}

{% endblock %}