$def with (general_statistics, project_names, different_signals, last_24_hours_crashes, last_72_hours_crashes, all_crashes)

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <select class="form-control" onchange="window.location=update_url_variables(window.location.toString(), 'project', this.value)">
                    <option value=""></option>
                $for project_name in project_names:
                    <option>$project_name</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3><span class="glyphicon glyphicon-stats"></span> General</h3>
            <table class="table table-responsive table-hover table-bordered" style="border-spacing: 10px; width: 100%;">
                $if "number_of_projects" in general_statistics:
                  <tr>
                      <td class="active" style="text-align: left; padding:5px">projects</td>
                      <td class="active" style="text-align: right; padding:5px">$general_statistics["number_of_projects"]</td>
                  </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">crashes</td>
                    <td class="active" style="text-align: right; padding:5px">$general_statistics["number_of_all_crashes"]</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">unique crashes</td>
                    <td class="active" style="text-align: right; padding:5px">$general_statistics["number_of_unique_crashes"]</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">unique exploitable crashes</td>
                    <td class="active" style="text-align: right; padding:5px">$general_statistics["number_of_uniqe_exploitable_hashes"]</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">iterations</td>
                    <td class="active" style="text-align: right; padding:5px">$general_statistics['iteration']</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">execs_per_sec</td>
                    <td class="active" style="text-align: right; padding:5px">$general_statistics['execs_per_sec']</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: left; padding:5px">runtime</td>
                    <td class="active" style="text-align: right; padding:5px">$general_statistics['runtime']</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <canvas id="different_crashes" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <canvas id="number_of_crashes" width="800" height="400"></canvas>
        </div>
    </div>

  <script>
      var data = [];
      var label = [];
      $for row in different_signals:
        data.push($row.count);
        label.push('$row.crash_signal');

      data = {
          datasets: [{
              label: 'Different Signals received',
              data: data,
              backgroundColor: ["#1F82C0", "#D6F1F4", "#85D4DF", "#D6F14", "#6DBFA9", "#79B4D9"]
          }],

          labels: label
      };

      var ctx = document.getElementById("different_crashes");
      var different_crashes = new Chart(ctx, {
          type: 'pie',
          data: data,
      });

      var ctx = document.getElementById("number_of_crashes");

      var timeFormat = 'YYYY-MM-DD HH:mm:ss';

      var crash_time = [];
      var last_24_hours_crashes = [];
      $for crash in last_24_hours_crashes:
        crash_time.push('$crash');
        last_24_hours_crashes.push('$last_24_hours_crashes[crash]');

      last_72_hours_crashes = [
        $for crash in last_72_hours_crashes:
          {
            x: '$crash',
            y: '$last_72_hours_crashes[crash]'
          },
      ];

      all_crashes = [
        $for crash in all_crashes:
          {
            x: '$crash',
            y: '$all_crashes[crash]',
            z: 2
          },
      ];

      data = {
          labels: crash_time,
          datasets: [{
              label: 'Last 24 hours',
              backgroundColor: "#79B4D9",
              fill: false,
              data: last_24_hours_crashes,
          }, {
              label: 'Last 72 hours',
              backgroundColor: "#D2E6F2",
              fill: false,
              data: last_72_hours_crashes
          }, {
              label: 'Of all time',
              backgroundColor: "#66BFAC",
              fill: false,
              data: all_crashes,
          }]
      };

      var number_of_crashes = new Chart (ctx, {
              type: 'line',
              data: data,
              options: {
                  title: {
                      text: 'Chart.js Time Scale'
                  },
                  scales: {
                      xAxes: [{
                          type: 'time',
                          time: {
                              format: timeFormat,
                              // round: 'day'
                              tooltipFormat: 'll HH:mm'
                          },
                          scaleLabel: {
                              display: true,
                              labelString: 'Date'
                          }
                      }],
                      yAxes: [{
                          scaleLabel: {
                              display: true,
                              labelString: 'Crashes'
                          }
                      }]
                  },
              }
      });
  </script>
</div>
