{% extends "base.html" %}

{% set active_page = "current_user.email" %}


{% block content %}

<div class="row" style="margin-bottom: 20px">
    <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>
            Profile of {{ user.email }}
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <table class="table table-bordered">

            <tr>
                <td class="active result" style="text-align: right;" width="120px">
                    Username:
                </td>
                <td class="active result">
                    {{ user.email }}
                </td>
            </tr>

            <tr>
                <td class="active result" style="text-align: right;">
                    API Key:
                </td>
                <td class="active result">
                    {{ user.api_key }}
                </td>
            </tr>

            <tr>
                <td class="active result" style="text-align: right;">
                    Active:
                </td>
                <td class="active result">
                    {{ user.active }}
                </td>
            </tr>

        </table>
    </div>
</div>

<div class="row">
    <!-- user change own password -->
    <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <button class="btn btn-default" data-target="#user_change_password_modal" data-toggle="modal"
                style="width: 100%"
                type="button">
            Change Password
        </button>
        <div class="modal fade" id="user_change_password_modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title">Change User Password</h4>
                    </div>

                    <div class="modal-body">
                        <form method="post">

                            <div class="input-group" style="padding: 15px; margin-bottom: -15px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" id="password1" name="old_password"
                                       placeholder="old password"
                                       required type="password">
                            </div>

                            <div class="input-group" style="padding: 15px; margin-bottom: -15px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" id="user_change_password" name="new_password"
                                       placeholder="new password" required type="password">
                            </div>

                            <div class="input-group" style="padding: 15px; margin-bottom: -15px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" id="password2" name="new_password_confirm"
                                       placeholder="confirm new password"
                                       required type="password">
                            </div>

                            <div style="padding: 15px">
                                <button id="user_change_password_button" type="submit" value="user_change_password">
                                    Submit
                                </button>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
